In [18]:
!pip install requests
!pip install beautifulsoup4

Requirement already satisfied: requests in c:\users\abebe\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\abebe\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\abebe\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\abebe\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\abebe\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: beautifulsoup4 in c:\users\abebe\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\abebe\anaconda3\lib\site-packages (from beautifulsoup4) (2.2.1)

In [31]:
import pandas as pd
import numpy as np       
import pandas as pd      
import matplotlib.pyplot as plt  #
import seaborn as sns     
import requests          #
from bs4 import BeautifulSoup
import json

In [21]:
df = pd.read_excel("SkyConditionData.xlsx")
df

,Day,Month,Year,Hour,No Image or Poor Image,Low/Mid Clouds (%),High Cirrus (%),Long-lived Contrails (Count),Contrail-Cirrus (Count),Day Low/Mid,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,21,12,22,24,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21,12,22,23,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21,12,22,22,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21,12,22,21,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21,12,22,20,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,Contrail-Cirrus Count per Image,%,NaN,NaN,NaN,0.0,0.661258,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2676,1,9,22,5,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2677,1,9,22,4,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2678,1,9,22,3,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2679,1,9,22,2,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2680,1,9,22,1,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
data = df.iloc[:, 0:9]

print(data.shape)
data

(2681, 9)

,Day,Month,Year,Hour,No Image or Poor Image,Low/Mid Clouds (%),High Cirrus (%),Long-lived Contrails (Count),Contrail-Cirrus (Count)
0,21,12,22,24,1.0,NaN,NaN,NaN,NaN
1,21,12,22,23,1.0,NaN,NaN,NaN,NaN
2,21,12,22,22,1.0,NaN,NaN,NaN,NaN
3,21,12,22,21,1.0,NaN,NaN,NaN,NaN
4,21,12,22,20,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2676,1,9,22,5,1.0,NaN,NaN,NaN,NaN
2677,1,9,22,4,1.0,NaN,NaN,NaN,NaN
2678,1,9,22,3,1.0,NaN,NaN,NaN,NaN
2679,1,9,22,2,1.0,NaN,NaN,NaN,NaN
2680,1,9,22,1,1.0,NaN,NaN,NaN,NaN

In [16]:
max_year = max(df.Year)
print("Maximum year:" max_year)
print(min(df.Day))
print(max((df.Day)))

SyntaxError: invalid syntax (<ipython-input-16-3347a7833818>, line 2)

In [26]:
data.isnull().sum()

Day                                0
Month                              0
Year                               0
Hour                               0
No Image or Poor Image          1264
Low/Mid Clouds (%)              1354
High Cirrus (%)                 1625
Long-lived Contrails (Count)    1670
Contrail-Cirrus (Count)         1668
dtype: int64

# Web SCraping

In [61]:
# Define the API endpoint URL
url = 'https://www.wunderground.com/history/daily/us/va/sterling/KIAD/date/2022-1-1'
# Make a GET request to the API endpoint
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [71]:

# Find the container that holds the line chart
chart_container = soup.find('div', class_='chart-container')

# Find the line chart for temperature data
temperature_chart = chart_container.find('div', class_='plot.temperature.line')

# Extract the hourly temperature data points
temperature_data = temperature_chart['d']
temperature_values = temperature_data.split(',')

# Print the hourly temperature values
for hour, value in enumerate(temperature_values):
    print(f"Hour {hour + 1}: {value}")

AttributeError: 'NoneType' object has no attribute 'find'

In [73]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the date selector container
date_selector = soup.find('div', class_='date-selector ng-star-inserted')
date = date_selector.find('input')['value']

# Find the line chart container
chart_container = soup.find('div', class_='wc-base-chart plot')
path_data = chart_container.find('path')['d']

# Split the path data into individual points
points = path_data.split('L')

# Extract the x-axis grid labels
hours = []
for point in points:
    _, y = point.split(',')
    if float(y) == 120.0:  # Assuming y-coordinate of 120.0 indicates a new hour
        hour = point.split(',')[0]
        hours.append(hour)

# Create a dataframe with the extracted data
df = pd.DataFrame({'Hour': hours})
df['Date'] = date

# Print the dataframe
print(df)

AttributeError: 'NoneType' object has no attribute 'find'